*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(archives/videos/AblePerfumedKentrosaurus-size_restricted.gif);
    background-repeat: no-repeat, repeat;
    background-size: 100%;
}

#c01{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

#c01 ul li{
    display: inline-block;
    list-style-type: none;
    color: white;
}
