*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    display: none;
}

body{
    background-color: black;
}

.container{
    position: relative;
    width: 80%;
}

.image{
    display: block;
    width: 100%;
    height: auto;
}
  
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: whitesmoke;
}

.container:hover .overlay{
    opacity: 70%;
}
  
.text{
    color: black;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Reenie Beanie', cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#demo{
    margin-top: 50px;
}

#box1 h1{
    color: red;
    text-align: center;
    font-family: 'Reenie Beanie', cursive;
}

#box2 h1{
    color: red;
    text-align: center;
    font-family: 'Reenie Beanie', cursive;
}

footer p{
    font-size: 12px;
}