*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-size: 200px;
    color: white;
    padding-top: 70px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 20px;
}

h3{
    font-size: 30px;
    color: yellow;
    padding-left: 1000px;
}

p{
    color: yellow;
    font-size: 10px;
    padding-left: 955px;
    padding-top: 10px;
}

ol{
    padding-top: 50px;
}

li{
    color: purple;
    font-size: 15px;
    line-height: 50px;
    text-align: right;
    padding-right: 400px;
}

a:link, a:visited, a:active{
    text-decoration:none;
}