*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#c01{
    padding-top: 10px;
    padding-bottom: 50px;
}

#c01 h1{
    font-size: 200px;
    font-weight: bold;
    color: white;
}

#c01 h3{
    font-size: 30px;
    font-weight: bold;
    color: yellow;
}

#c01 p{
    color: yellow;
    font-size: 10px;
}

#c02{
    height: 600px;
}


#c02 li{
    list-style-type: none;
    color: purple;
    font-size: 15px;
    line-height: 50px;
    text-align: right;
    padding-right: 350px;
}

#c03{
    height: 600px;
}

#c03 li{
    list-style-type: none;
    color: purple;
    font-size: 15px;
    line-height: 50px;
    text-align: right;
    padding-right: 350px;
}

a:link, a:visited, a:active{
    text-decoration: none;
}