*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#barra_menu{
    height: 14vh;
    color: white;
    font-size: 12px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
}

#prueba:hover{
    position: relative;
    left: 5px;
    bottom: 5px;
}

body{
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
}

header{
    width: 1920px;
    /* que ocupe el ancho de la pantalla */
    height: 1920px;
    /* para que sea cuadrada (igual a width) */
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 500px;
}

a{
    text-decoration: none;
    color: grey;
}

#cuerpo{
    height: 1920px;
    padding: 150px;
    width: 80%;
    margin-left: 10%;
}

h1{
    font-size: 80px;
    line-height: 130px;
    font-weight: lighter;
    padding-left: 100px;
}

h2{
    font-weight: lighter;
    font-size: 30px;
    line-height: 0.1;
    color: darkgrey;
    padding-left: 100px;
    padding-top: 30px;
}

p{
    font-size: 30px;
    font-weight: lighter;
    line-height: 60px;
}

#parrafo1{
    padding-top: 200px;
    padding-left: 100px;
    padding-bottom: 30px;
}

#parrafo2{
    padding-bottom: 230px;
    padding-left: 100px;
}

ul{
    list-style-type: none;
    font-weight: lighter;
    line-height: 2.5;
    color: grey;
    padding-left: 100px;
    width: 200%;
}

footer{
    list-style-type: none;
    font-size: xx-large;
    line-height: 2;
    color: white;
    background-color: black;
    padding: 400px;
}

.tachado :hover{
    text-decoration: line-through;
}

.subra :hover{
    text-decoration: underline;
    color: red;
}