*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#principal{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-color: black;
    margin: 50px;
    color: white;
}

h1{
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    padding-bottom: 40px;
    letter-spacing: 5px;
}

img{
    width: 500px;
    height: auto;
}

a:hover img{filter: none;}

.opacity{filter: opacity(50%);}
.blur {filter: blur(4px); padding-bottom: 65px;}
.brightness {filter: brightness(250%);}
.contrast {filter: contrast(180%);}
.grayscale {filter: grayscale(100%);}
.huerotate {filter: hue-rotate(180deg);}
.invert {filter: invert(100%);}
.saturate {filter: saturate(7); padding-bottom: 65px;}
.sepia {filter: sepia(100%);}

#one{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.medio{
    padding: 50px;
}

.medio2{
    padding-top: 50px;
}